[submodule "themes/airspace"]
	path = themes/airspace
	url = https://github.com/themefisher/airspace-hugo.git
[submodule "themes/theme-research-group"]
	path = themes/theme-research-group
	url = https://github.com/HugoBlox/theme-research-group.git
