table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid black;
    /* Ensures table has an outer border */
}

th,
td {
    border: 1px solid black;
    /* Black borders for table cells */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    /* Light grey background for headers */
}

body {
    background-color: #ffffff !important;
    /* Force white background */
    color: #000000;
    /* Optional: Ensure text is visible on white */
}

/*To dynamically render logos*/
.logo-section {
    padding: 20px;
    text-align: center;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.logo-item img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}