<nav>
    <ul>
        <li><a href="{{ "/" | relURL }}">Home</a></li> 
        
        <li class="dropdown">
            <a href="#" class="dropbtn">About</a>
            <div class="dropdown-content">
                <a href="{{ "/about-resa/" | relURL }}">About ReSA</a>
                <a href="{{ "/governance/" | relURL }}">Governance</a>
                <a href="{{ "/people/" | relURL }}">People</a>
                <a href="{{ "/membership/" | relURL }}">Organisational Membership</a>
                <a href="{{ "/donate/" | relURL }}">Donate</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropbtn">Task Forces</a>
            <div class="dropdown-content">
                <a href="{{ "/taskforces/" | relURL }}">About Task Forces</a>
                <a href="{{ "/tf-support/" | relURL }}">Task Force Support</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropbtn">Forums</a>
            <div class="dropdown-content">
                <a href="{{ "/funders-forum/" | relURL }}">Funders Forum</a>
                <a href="{{ "/rsi-forum/" | relURL }}">Research Software Infrastructure Forum</a>
                <a href="https://adore.software" target="_blank">ADORE.software Secretariat</a>
                <a href="https://researchsoftware.org/council.html" target="_blank">International Council of RSE Associations</a>
                <a href="{{ "/community-forum/" | relURL }}">Community Leaders Forum</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropbtn">Services</a>
            <div class="dropdown-content">
                <a href="{{ "/services/service1/" | relURL }}">Service 1</a>
                <a href="{{ "/services/service2/" | relURL }}">Service 2</a>
                <a href="{{ "/services/service3/" | relURL }}">Service 3</a>
            </div>
        </li>
        <li><a href="{{ "/news/" | relURL }}">News</a></li>
        <li><a href="{{ "/events/" | relURL }}">Events</a></li>
        <li><a href="{{ "/blog/" | relURL }}">Blogs</a></li>
    </ul>
</nav>


<style>
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    nav ul li {
        float: left;
    }

    nav ul li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav ul li a:hover, .dropdown:hover .dropbtn {
        background-color: #111;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>