<div class="d-flex justify-content-center">
    <div class="col-md-8 text-start">
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 logo-container">
                <a href="https://sloan.org/">
                    <img src="/about/membership/images/Sloan-logo.png" alt="Alfred P. Sloan Foundation" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://ardc.edu.au/">
                    <img src="/about/membership/images/ARDC_logo_RGB.png" alt="ARDC logo" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://parkinsonsroadmap.org/#">
                    <img src="/about/membership/images/ASAP_FullColor.png" alt="ASAP" class="logo-image">
                </a>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4 logo-container">
                <a href="https://astera.org/">
                    <img src="/about/membership/images/AsteraLogo.png" alt="Astera logo" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://chanzuckerberg.com/">
                    <img src="/about/membership/images/CZI_Logo.jpg" alt="Chan Zuckerberg Initiative" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.dfg.de/en/index.jsp">
                    <img src="/about/membership/images/DFG_logo.jpg" alt="German Research Foundation" class="logo-image">
                </a>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4 logo-container">
                <a href="https://alliancecan.ca/">
                    <img src="/about/membership/images/Alliance.png" alt="Digital Research Alliance of Canada" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.kavlifoundation.org/">
                    <img src="/about/membership/images/The_Kavli_Foundation_Logo_Blue_Red.png" alt="Kavli logo" class="logo-image">
                </a>
                </div>   
                <div class="col-md-4 logo-container">
                <a href="https://www.microsoft.com/">
                    <img src="/about/membership/images/Microsoft_logo.png" alt="Microsoft logo" class="logo-image">
                </a>
                </div>  
            </div>

            <div class="row justify-content-center mt-5">          
                <div class="col-md-4 logo-container">
                <a href="https://www.ouvrirlascience.fr/the-committee-for-open-science/">
                    <img src="/about/membership/images/1_MESR_RVB.jpg" alt="French Committee for Open Science logo" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.nasa.gov" class="no-logo-text">NASA</a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.nih.gov" class="no-logo-text">National Institutes of Health</a>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4 logo-container">
                <a href="https://www.ncsa.illinois.edu">
                    <img src="/about/membership/images/NCSA.png" alt="NCSA" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.nesi.org.nz/">
                    <img src="/about/membership/images/NeSI.png" alt="New Zealand eScience Infrastructure" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.esciencecenter.nl/">
                    <img src="/about/membership/images/nesc-transparent.png" alt="Netherlands eScience Center" class="logo-image">
                </a>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4 logo-container">
                <a href="https://www.nwo.nl/en">
                    <img src="/about/membership/images/NWO-logo.jpeg" alt="NWO logo" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.rd-alliance.org/">
                    <img src="/about/membership/images/RDA-logo trans hi res.png" alt="RDA logo" class="logo-image">
                </a>
                </div>   
                <div class="col-md-4 logo-container">
                <a href="https://www.rsu.lv/en/bioinformatics-group">
                    <img src="/about/membership/images/Stradini_logo_ENG_vert-RGB.jpg" alt="RSU logo" class="logo-image">
                </a>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4 logo-container">
                <a href="https://www.schmidtsciences.org/">
                    <img src="/about/membership/images/schmidtsciences_primary_color.png" alt="Schmidt Sciences logo" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.simonsfoundation.org/">
                    <img src="/about/membership/images/Simons-Foundation.jpg" alt="Simons Foundation" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.software.ac.uk/">
                    <img src="/about/membership/images/SSI_PRIMARY-LOGO.png" alt="Software Sustainability Institute" class="logo-image">
                </a>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4 logo-container">
                <a href="https://www.stfc.ac.uk/">
                    <img src="/about/membership/images/UKRI_logo.png" alt="UK Research and Innovation" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://us-rse.org/">
                    <img src="/about/membership/images/USRSE_logo.png" alt="US-RSE" class="logo-image">
                </a>
                </div>
                <div class="col-md-4 logo-container">
                <a href="https://www.volkswagenstiftung.de/en">
                    <img src="/about/membership/images/Volkswagen.jpg" alt="VolkswagenStiftung" class="logo-image">
                </a>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-4 logo-container">
                <a href="https://wellcome.org/">
                    <img src="/about/membership/images/Wellcome_logo_Black.jpg" alt="Wellcome Trust" class="logo-image">
                </a>
                </div>
            </div>
        </div>
    </div>
</div>  
